# Ignore OS files
.DS_Store
Thumbs.db

# Ignore environment files everywhere
.env
.env.local
backend/.env
frontend/.env

# Ignore dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Ignore IDE settings
.vscode/
.idea/